:host {
  width: 100%;
  max-width: 100%;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.chat-area {
  height: calc(100% - 76px);

  display: grid;
  grid-template-rows: 1fr max-content;
  grid-gap: 16px;
}

.chat-area__input {
  margin: 16px 20px;
}

.chat-messages {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.chat-messages__empty {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: var(--light-transparent-color);
}

.chat-messages__date {
  text-transform: capitalize;
  padding: 6px 30px;
  margin: 16px auto;
  width: max-content;
  background-color: var(--dark-hover-color);
}
