:host {
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 16px;
}

.comment-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--light-transparent-color);
  margin-left: 8px;
  font-size: 12px;
}

.comment-body {
  margin: 8px;
}