:host {
  border-right: var(--light-border);
  overflow: hidden;
}

.chat-search {
  height: 76px;
  width: 100%;
  padding: 16px 20px;
  border-bottom: var(--light-border);
}

.chat-search-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.chat-search__input {
  padding-right: 20px;
}

.chat-search__icon {
  color: var(--light-color);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px; 
  height: 18px;
  fill: var(--light-color);
  pointer-events: none;
}

.chat-btns {
  max-height: calc(100% - 76px);
  height: auto;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}
